html{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    font-family: rubik, arial;
    background-color: #9cd5e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 500px;
    height:350px;
    background-color: #fff;
    margin:0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
    transition: opacity 0.3s ease-in-out;
    box-sizing:border-box;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

#user ,#pass, #email{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width:20px;  
    padding-bottom: 10px;
    padding-right: 15px;
}

.form-box input[type="text"], .form-box input[type="text"],
.form-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.form-box p{
    margin:0px 0px 0px 35px;
    font-size: 10px;
}

form{
    padding:2em;
}

#button{
    position: relative;
    margin:10px auto;
    padding:10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    text-decoration: none;
    width: 50%;
    padding: 10px;
    margin:30px auto 15px auto;
    background-color: #7ccedf;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #4fc5dd;
    transition: 0.6s;
}


#login{
    margin:10px auto;
    padding:10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forgotpass{
   margin:0px;
}

#forgotpass a{
    text-decoration: none;
}

.sign-in-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.msg p{
    color:rgb(236, 0, 0);
}

