{% load static %} {% load widget_tweaks %}
<head>
  <script src="{% static 'js/scripts.js' %}"></script>
  {% block head %}

  <link rel="stylesheet" href="{% static 'socialnetworkapp/homepage.css' %}" />
  {% endblock %}
</head>

<body>
    <header>{% include 'socialnetworkapp/navbar.html' %}</header>
        <main>
          <div class="container">
            <div class="aboutus1">
              <h2>Team Members</h2>
                <ul>
                  <li><h3>Akmal Hisyam bin Tajjul Ariffin</h3> 1211300497@student.mmu.edu.my</li>
                  <li><h3>Azmal Jahin Shahriar</h3> 1211300497@student.mmu.edu.my</li>
                  <li><h3>Surrendar A/L Parthipan</h3> 1191103262@student.mmu.edu.my</li>
                  <li><h3>Ainaa Athirah Binti Mat Rani</h3> 1181101741@student.mmu.edu.my</li>
                </ul>
            </div>
          </div>
        </main>    
    <footer>{% include 'socialnetworkapp/footer.html' %}</footer>
</body>