{% load static %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{% static 'socialnetworkapp/styles.css' %}" />
    {% endblock %}
  </head>

  {% if messages %}
  <ul class="message-list">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <body>
    <form class="form-box" method="POST" action="">
      {% csrf_token %}
      <h2>Sign-in</h2>
      <div id="user">
        <input type="text" name="username" placeholder="Enter Username" required />
      </div>
      <div id="pass">
        <input type="password" name="password" placeholder="Enter Password" required />
      </div>
      <p id="forgotpass">
        Forgot your password? <a href="./password_recovery.html">Click here</a>
      </p>
      <div id="button">
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
