{% load static %}

<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{% static 'socialnetworkapp/styles.css' %}" />
    {% endblock %}
  </head>

  <body>
    <div class="sign-in-container">
    <form class="form-box" method="POST" action="">
      {% csrf_token %}
      <h2>Sign-in</h2>
      <div id="user">
        <input type="text" name="username" placeholder="Enter Username" required />
      </div>
      <div id="pass">
        <input type="password" name="password" placeholder="Enter Password" required />
      </div>
      <p id="forgotpass">
        Forgot your password? <a href="{% url "password_reset" %}">Click here</a>
      </p>
      <div id="button">
        <button type="submit">Login</button>
      </div>
    </form>
    <div class="msg">
      {% if messages %}
      {% for message in messages %}
      <p >{{ message }}</p>
      {% endfor %}
    {% endif %}
    </div>
  </div>
  </body>
</html>
